.MainContent{
    padding: 20px;
    border: 1px solid gainsboro;
    display: grid;
    display: grid; 
    grid-template-columns: 280px 155px 1fr; 
    grid-template-rows: 50px 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "Header Header Header"
        "Schedules TimeSelection Calendar";
    gap: 20px;
}

.Header {
    grid-area: Header;
    border: 1px solid gainsboro;    
    display: flex;
    align-items: center;
    padding: 20px;
    font-weight: bold;
}

.Schedules{
    display: flex;
    flex-direction: column;
    gap:10px;
    border: 1px solid gainsboro;    
    padding: 20px;
    grid-area: Schedules;
    overflow-y: scroll;
}

.TimeSelection{
    display: flex;
    flex-direction: column;
    gap:10px;
    border: 1px solid gainsboro;    
    padding: 20px;
    grid-area: TimeSelection;
}


.AppoitmentDetails{
    border: 1px solid gainsboro;
    padding: 20px;
    flex: 1;
    grid-area: Calendar;
    display: flex;  
    flex-direction: column;
    gap: 20px   ;
}







.radioForm{
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.Schedule{
    border: 1px solid gainsboro;
    padding: 10px;
    position: relative;
}

.ScheduleDate{
    font-size: 0.9rem;
}

.ScheduleTime{
    font-size: 0.7rem;
}

.ScheduleRemove{
    position: absolute;
    background-color: rgba(255, 0, 0, 0.75);
    color: white;
    padding: 1px 5px;
    cursor: pointer;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: 500ms;
}

.ScheduleRemove:hover{
    box-shadow: 0px 0px 2px 2px gainsboro;
}

.ScheduleRemove:active{
    border: 1px solid black;
}