.MainContent{
    padding: 20px;
    border: 1px solid gainsboro;
    display: grid;
    display: grid; 
    grid-template-columns: 1fr 250px 250px; 
    grid-template-rows: 300px 100px 150px 100px auto; 
    grid-template-areas: 
        "CalendarContainer TimeSelectionContainer HistoryContainer"
        "CalendarContainer ConcernContainer HistoryContainer"
        "CalendarContainer ConcernContainer HistoryContainer"
        "TimeSummaryContainer ConcernContainer UnavailableContainer"
        "NoteContainer ConcernContainer UnavailableContainer";
    gap: 20px;
}

.CalendarContainer{
    grid-area: CalendarContainer;
    border: 1px solid gainsboro;
}

.TimeSummaryContainer{
    grid-area: TimeSummaryContainer;
}

.TimeSelectionContainer{
    grid-area: TimeSelectionContainer;
    border: 1px solid gainsboro;
}

.ConcernContainer{
    grid-area: ConcernContainer;
    border: 1px solid gainsboro;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    gap: 20px;
}

.HistoryContainer{
    grid-area: HistoryContainer;
    border: 1px solid gainsboro;
}

.UnavailableContainer{
    grid-area: UnavailableContainer;
    border: 1px solid gainsboro;
}

.NoteContainer{
    grid-area: NoteContainer;
    display: flex;
    align-items: center;
}













.TimeSummaryContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.TimeSummaryItem{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.TimeSummaryDate{
    font-size: 0.8rem;
    text-align: center;
    font-weight: bold;
    background-color: #757575;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}
.TimeSummaryTotal{
    color: white;
    padding: 5px 10px;
    border-radius: 5px;

}
.TimeSummaryTotal.True{
    background-color: #14AE5C;
}
.TimeSummaryTotal.False{
    background-color: #F24822;
}



.TimeSelectionContainer{
    display: flex;
    flex-direction: column;
    gap:10px;
    border: 1px solid gainsboro;    
    padding: 20px;
}

.radioForm{
    display: flex;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
    color: white;
    border-radius: 5px;
}

.radioForm.True{
    background-color: #14AE5C;
}
.radioForm.False{
    background-color: #F24822;
}

.ConcernTextArea{
    width: 100%;
}

.InputArea{
    padding: 5px 10px;
    width: 100%;
}

.AppointmentSubmitBtn{
    width: 100%;
    padding: 5px 10px ;
    cursor: pointer;
    background-color: #14AE5C;
    color: white;
    border-radius: 5px;
    border: 1px gainsboro;
    transition: 250ms;
}
.AppointmentSubmitBtn:hover{
    box-shadow: 0 0 2px 2px gainsboro;
}

.AppointmentSubmitBtn:active{
    background-color: white;
    color: black;
}

