
.MainContainer {
  width: 100%;
  flex: 1;  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row: auto 1fr;
  grid-template-areas: 
    "StatusChart DailyChart DailyChart DailyChart"
    "StatusChart OverviewChart OverviewChart SystemChart"
  ;
  gap: 10px;
}
.StatusChart{
  grid-area: StatusChart;
  border: 1px solid gainsboro;
}
.DailyChart{
  grid-area: DailyChart;
  border: 1px solid gainsboro;
}
.OverviewChart{
  grid-area: OverviewChart;
  border: 1px solid gainsboro;
}
.SystemChart{
  grid-area: SystemChart;
  border: 1px solid gainsboro;
}
