.MainContent{
    display: grid;
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 30px 50px 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "Header"
        "Add"
        "List";
    position: relative;
    height: 100%;
}

.Header {
    grid-area: Header; 
    display: flex;
    gap: 10px;
}
    .SearchBar{
        padding: 5px;
        flex: 1;
    }
    .CategoryBtn{
        padding: 5px 10px;
        border: 0px;
        border-radius: 5px;
        cursor: pointer;
        transition: 250ms;
    }
    .CategoryBtn:hover{
        box-shadow: 0 0 2px 2px gainsboro;
    }
    .CategoryBtn:active{
        background-color: var(--ButtonActiveBg);
        color: var(--ButtonActiveText);
    }
    .CategoryBtn.Active{
        background-color: var(--ButtonActiveBg);
        color: var(--ButtonActiveText);
    }

.Add{
    gap:10px;
    grid-area: Add;
    display: flex;
    align-items: center;
}

.List{
    grid-area: List;
}

    .Notification{
        display: flex;
        padding: 15px;
        margin-bottom: 10px;
        gap: 10px;
        border: 1px solid gainsboro;
    }
    .NotificationName{
        flex: 1;
        text-align: center;
    }
    .NotificationTarget{
        font-size: 0.7rem;
    }
    .NotificationViewBtn{
        padding: 5px 10px;
        border: 0px;
        cursor: pointer;
        color: white;
        background-color: #53c28b;
        transition: 250ms;
    }
    .NotificationDeleteBtn{
        padding: 5px 10px;
        border: 0px;
        cursor: pointer;
        color: white;
        background-color: rgba(255, 0, 0, 0.5);
        transition: 250ms;
    }
    .NotificationDeleteBtn:hover,
    .NotificationViewBtn:hover {
        box-shadow: 0 0 2px 2px gainsboro;
    }
    .NotificationDeleteBtn:active,
    .NotificationViewBtn:active {
        box-shadow: 0 0 2px 2px black;
    }
