.subtitleBTN{
  padding: 5px 10px;
  cursor: pointer;
  background-color: #53c28b;
  border: none;
  border-radius: 5px;
  color: white;
  margin-bottom: 20px;
}


.MainContainer{
  display: grid;
  flex: 1;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
}

.PersonList{
  padding: 20px;
  border: 1px solid gainsboro;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.Record{
  padding: 20px;
  border: 1px solid gainsboro;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

.SearchTitle{
  text-align: center;
  font-weight: bold;
}

.SearchBox{
  padding: 5px;
}
.SearchList{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.RecordName{
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: 250ms;
}
.RecordName:hover{
  box-shadow: 0 0 2px 2px gainsboro;
}
.RecordName:active{
  box-shadow: 0 0 2px 2px black;
}