.MainContainer{
    flex: 1;
    border: 1px solid gainsboro;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "Header Header"
        "StatusContainer ChartsContainer"
    ;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #F5F5F5;
}
.Header{
    grid-area: Header;
    padding: 20px;
    border: 1px solid gainsboro;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #757575;
    color: white;
    border-radius: 5px;
    position: relative;
}
.StatusContainer{
    grid-area: StatusContainer;
    padding: 20px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: #B3B3B3;
}
.ChartsContainer{
    grid-area: ChartsContainer;
    padding: 20px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr auto;
    background-color: #B3B3B3;
    gap: 20px;
}


.StatusPieChartData{
    width: 200px;
    height: 200px;
    display: flex;
}

.StatusCountContainer{
    display: flex;
    justify-content: center;
    gap:20px
}
.StatusName{
    padding: 0px 5px;
    width: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.StatusCount{
    padding: 5px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.StatusCountContainer:nth-child(2) > P{
    background-color: #AFF4C6;
    color:black;
}

.StatusCountContainer:nth-child(3) > P{
    background-color: #F24822;
    color:white;
}

.StatusCountContainer:nth-child(4) > P{
    background-color: #FFCD29;
    color:black;
}



.PieChartContainer{
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
    justify-items: center;
}

.PieChartData{
    width: 200px;
    height: 200px;
}

.PieChartDataRanking{
    border: 1px solid gainsboro;
    width: 100%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
}

.PieChartDataButtons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
}
.PanelBtn.Active{
    background-color: #14AE5C;
    color: white;
}
.PanelBtn{
    padding: 5px 10px;
    cursor: pointer;
    transition: 250ms;
    border: 1px solid gainsboro;
    border-radius: 5px;
}
.RankingRow{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100px 1fr 25px;
    align-items: center;
    font-size: 0.8rem;
    text-align: center;
}



.LineChartContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.FilterBtn{
    padding: 5px 10px;
    cursor: pointer;
    transition: 250ms;
    border: 1px solid gainsboro;
    border-radius: 5px;
    flex: 1;
}
.FilterBtn.Active{
    background-color: #14AE5C;
    color: white;
}
.PatientsLineChartData{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.LineChartCards{
    display: flex;
    justify-content: space-around;
    gap: 20px; 
    margin-top: 20px;
    
}
.LineChartCard{
    border: 1px solid gainsboro;
    text-align: center;
    width: auto;
    width: 100px;
    border-radius: 5px;
}
.LineChartCardTitle{
    border: 1px solid gainsboro;
    padding: 5px 10px;
    background-color: white;
    font-size: 0.8rem;
}
.LineChartCardValue{
    border: 1px solid gainsboro;
    font-size: 2.5rem;
    padding: 20px;
    background-color: #0D99FF;
    color: white;
    border-radius: 5px;
}

.LineChartButtons{
    display: flex;
    gap: 20px;

}

.DepartmentSelection{
    position: absolute;
    padding: 5px 10px;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}





.ProgressBar {
    background-color: rgba(255, 255, 255, 0.5); /* Background color of the progress bar */
    border-radius: 5px; /* Adding border-radius */
    height: 10px;
  }
  
  .ProgressBar::-webkit-progress-bar {
    background-color: #e0e0e0; /* Background color of the container bar */
    border-radius: 5px; /* Adding border-radius */
    height: 10px;
  }
  
  .ProgressBar::-webkit-progress-value {
    background-color: #14AE5C; /* Color of the progress bar */
    border-radius: 5px; /* Adding border-radius */
    height: 10px;
  }
  
  .ProgressBar::-moz-progress-bar {
    background-color: #14AE5C; /* Color of the progress bar in Firefox */
    border-radius: 5px; /* Adding border-radius */
    height: 10px;
  }
