.MainContainer{
  display: flex;
  flex-direction: column;
  border: 1px solid gainsboro;
  gap: 20px;
}
.Header{
  padding: 10px 20px;
  font-size: 1.5rem;
  border: 1px solid gainsboro;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gainsboro;
}

.Introduction{
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  background-color: #14AE5C;
  color: white;
  border-radius: 10px;
}

.Cards{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  padding-top: 0;
}
.Card{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 15px;
  background-color: gainsboro;
  border-radius: 10px;
  height: fit-content;
}
.Color{
  display: flex;
  color: black;
  text-align: left;
  border-radius: 5px;
  padding: 10px;
  flex: 1;
}
.Card > .Color{
  background-color: white;
}
.Button{
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 250ms;
  border: 0px;
  background-color: #14AE5C;
  color: white;
  padding: 10px 20px;
}
.Button:hover{
  box-shadow: 0 0 2px 2px gainsboro;
}
.Button:active{
  box-shadow: 0 0 2px 2px black;
}