.MainContent{
    padding: 20px;
    border: 1px solid gainsboro;
    display: grid;
    display: grid; 
    grid-template-columns: 250px 1fr; 
    grid-template-rows: 50px 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "Header Header"
        "Appoitments AppoitmentDetails";
    gap: 20px;
    position: relative;
}

.Header {
    grid-area: Header;
    border: 1px solid gainsboro;    
    display: flex;
    align-items: center;
    padding: 20px;
    font-weight: bold;
}

.Appoitments{
    display: flex;
    flex-direction: column;
    gap:10px;
    border: 1px solid gainsboro;    
    padding: 20px;
    grid-area: Appoitments;
}

.Appointment{
    padding: 5px 10px ;
    border: 1px solid gainsboro;
    cursor: pointer;
}

.aName{
    font-size: 0.8rem;
}
.aNameText{
    font-weight: bold;
}
.aDate{
    font-size: 0.8rem;
}

.aDateText{
    font-style: italic;
}

.AppoitmentDetails{
    border: 1px solid gainsboro;
    padding: 20px;
    flex: 1;
    grid-area: AppoitmentDetails;
    display: flex;  
    flex-direction: column;
    gap: 20px;
    position: relative;
}


.DetailsHeader{
    display: flex;
    gap: 10px;
}

.DetailsImage{
    border-radius: 50%;
}

.DetailsProfile{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 20px;
}

.DetailsName{
    font-size: 1.3rem;
    font-weight: bold;
}

.DetailsRow{
    display: flex;
    gap: 20px;
}

.DetailsFields{
    flex: 1;
    padding: 10px;
}

.DetailsRow:last-child{
    justify-content: center;
}

.DetailsButton{
    padding: 5px 20px;
    cursor: pointer;
    border: 0px solid gainsboro;
    transition: 200ms;
}

.DetailsButton:hover{
    box-shadow: 0px 0px 2px 2px gainsboro;
}

.DetailsButton:active{
    background-color: #69c253;
    
}




.ReSchedulePanel{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Calendar{
    width: 50%;
    background-color: white;
}

.ReScheduleForm{
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ReScheduleButton{
    padding: 5px 10px;
    cursor: pointer;
}

.ReScheduleDate{
    padding: 10px;
    width: 100%;
}

.ReSchedulePanelRow:last-child{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}