.MainContent{
    padding: 20px;
    border: 1px solid gainsboro;
    display: grid;
    display: grid; 
    grid-template-columns: 250px 200px 1fr; 
    grid-template-rows: 50px 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "Header Header Header"
        "Schedules TimeSelection Calendar";
    gap: 20px;
}

.Header {
    grid-area: Header;
    border: 1px solid gainsboro;    
    display: flex;
    align-items: center;
    padding: 20px;
    font-weight: bold;
}

.Schedules{
    display: flex;
    flex-direction: column;
    gap:10px;
    border: 1px solid gainsboro;    
    padding: 20px;
    grid-area: Schedules;
}

.TimeSelection{
    display: flex;
    flex-direction: column;
    gap:10px;
    border: 1px solid gainsboro;    
    padding: 20px;
    grid-area: TimeSelection;
}


.AppoitmentDetails{
    border: 1px solid gainsboro;
    padding: 20px;
    flex: 1;
    grid-area: Calendar;
    display: flex;  
    flex-direction: column;
    gap: 20px   ;
}







.radioForm{
    display: flex;
    gap: 10px;
    cursor: pointer;
}