.MainContent{
    padding: 20px;
    border: 1px solid gainsboro;
    display: grid;
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 50px 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "Header"
        "Body";
    gap: 20px;
    position: relative;
}

.Header {
    grid-area: Header;
    border: 1px solid gainsboro;    
    display: flex;
    align-items: center;
    padding: 20px;
    font-weight: bold;
    justify-content: space-between;
}

.Body{
    display: flex;
    flex-direction: column;
    gap:20px;
    border: 1px solid gainsboro;    
    padding: 20px;
    grid-area: Body;
}

.PanelButton{
    border: 0px;
    padding: 5px 20px;
    cursor: pointer;
    transition: 500ms;
}

.PanelButton:hover{
   box-shadow: 0 0 2px 2px gainsboro;
}

.PanelButton:active{
    box-shadow: 0 0 2px 2px black;
}

.ListItem{
    display: grid;
    grid-template-columns: 60px  1fr 100px;
    grid-template-rows: 1fr;
    border: 1px solid gainsboro;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    transition: 500ms;
    border-radius: 10px;
}

.ListItem:hover {
    box-shadow: 0 0 2px 2px gainsboro;
}

.ListItem:active {
    box-shadow: 0 0 2px 2px black;
}

.ListItemImage {
    border-radius: 50%;
    border: 1px solid gainsboro;
}

.ListItemName{
    
}

.ListItemMark{
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    border-width: 2px;
}


.ListItemMark.Advising,
.ListItemMark.Approved,
.ListItemMark.InProgress{
    background-color: #FFCD29;
    border-color: #a3831a;
}

.ListItemMark.Canceled,
.ListItemMark.Rejected{
    background-color: #F24822;
    color: white;
    border-color: #8f2c15;
}

.ListItemMark.Completed{
    background-color: #14AE5C;
    color: white;
    border-color: #0c6334;
}


.SearchBar{
    padding: 10px;
}