.mainContainer{
    display: flex;
    flex-direction: column;
    height: 59vh;
    width: 100%;
    gap: 10px;
    position: relative;
    overflow: hidden;
}

.Header{
    border: 1px solid gainsboro;
    height: fit-content;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.SearchBar{
    border: 1px solid gainsboro;
    height: fit-content;
    width: 100%;
    padding: 10px;
}
.GridView{
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 5px;
}
.Card{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 150px;
    gap:10px;
    border: 2px solid gainsboro;
    border-radius: 5px;
    padding: 10px;
    justify-content: space-between;
}
.Buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.QuantityButtons{
    aspect-ratio: 2/1;
    padding: 3px 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.7rem;
}
.RemoveButtons{
    position: absolute;
    top: -7px;
    right: -7px;
    background-color: red;
    border: 0px;
    color: white;
    padding: 2px 4px;
    cursor: pointer;
    font-size: 0.7rem;
    border-radius: 5px;
}
.Name{
    font-size: 0.8rem;
}
.CreateButtons{
    background-color: rgb(34, 151, 34);
    border: 0px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
.NameInput{
    font-size: 0.8rem;
    padding: 5px;
}

.SwitchBtn{
    background-color: rgb(34, 151, 34);
    border: 0px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    margin-left: auto;
}
.addLabel{
    font-size: small;
}
.addLabel:last-child{
    padding-left: 10px;
}
.addForm{
    display: flex;
    gap: 10px;
    padding: 10px;
    border: 1px solid gainsboro;
    border-radius: 3px;
}
.count{
    font-size: 0.8rem;
}
.requestForm{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    background-color: rgba(220, 220, 220, 0.900);
    padding: 20px;
    border: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: -20px;
    
}
.Buttons2{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Button{
    padding: 5px 10px;
    cursor: pointer;
    width: 170px;
    border: 0px;
    border-radius: 5px;
    border: 1px solid rgb(34, 151, 34);
}
.ButtonActive{
    padding: 5px 10px;
    cursor: pointer;
    width: 170px;
    background-color: rgb(34, 151, 34);
    color: white;
    border: 0px;
    border-radius: 5px;
}
.requestFormInputText{
    font-size: 0.9rem;
}
.requestFormLight{
    font-size: 0.7rem;padding-left: 5px;
}
.ListItem{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr auto auto;
    padding: 10px;
    border: 1px solid gainsboro;
}
.ListView{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
}
.ListName{
    font-size: 0.9rem;
}
.ListDate{
    font-size: 0.7rem;
    padding-left: 10px;
    padding-right: 10px;
}
.ListCount{
    font-size: 0.6rem;
}