:root {
  --MedicalLightBg: lightgray;
  --MedicalNormalBg: gray;
  --MedicalDarkBg: rgb(78, 78, 78);

  --DentalLightBg: lightgray;
  --DentalNormalBg: gray;
  --DentalDarkBg: rgb(78, 78, 78);

  --SDPCLightBg: lightgray;
  --SDPCNormalBg: gray;
  --SDPCDarkBg: rgb(78, 78, 78);

  --ButtonBg: lightgray;
  --ButtonHoverBg: rgb(172, 172, 172);
  --ButtonActiveBg: #53c28b;
  --ButtonActiveText: white;

  --LightBg: lightgray;
  --NormalBg: gray;
  --DarkBg: rgb(78, 78, 78);

  --TextLightBg: #111;
  --TextNormalBg: #111;
  --TextDarkBg: white;

  --White: white;
  --Black: #111;

  --HoverBorderColor: gainsboro;
  --LinesColor: gainsboro;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.theme{
  transition: 1s all ease;
}

.light {
  background-color: white;
  color: #111;
}

.dark {
  background-color: #111;
  color: #bbb;
}

.container {
  max-width: 1366px;
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  flex: 1;
  margin: 0 auto;
  padding: 0px 60px;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.authorized {
  flex: 1;
}


@media (max-width: 640px) {
  .container {
    max-width: 100%;
    padding: 0px;
  }
}

.dot{
  background-color: red;
  height: 7px;
  width: 7px;
  position: absolute;
  right: -5px;
  top: -5px;
  border-radius: 50%;
}