.mainContainer {
  width: 100%;
  height: 100%;
  flex: 1;
}

.mainTitle {
  font-size: 35px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 20px;
  gap: 20px;
}

.tab {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 10px;
}

.leftContainer{
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.rightContainer{
  padding: 20px;
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
}


.hide {
  display: none;
  transform: translateY(-100%);
}

.blogsContainerm
.announcementsContainer {
  display: block;
  transform: translateY(0);
}

.tabbutton {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
}

.faqsItem,
.itemHeader {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 10px;
  border-bottom: 1px solid rgba(220, 220, 220, 0.500);
}

.faqDetails,
.itemHeaderDetails {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.itemDepartment {
  font-weight: bold;
}

.itemDate {
  font-weight: lighter;
}

.faqsItem,
.AnnouncementsItem,
.blogsItem {
  margin-top: 20px;
  border: 1px solid rgba(220, 220, 220, 0.500);
}

.itemBody {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blogImage {
  margin: auto;
}

.itemTitle{
  font-weight: bold;
}













.selectTitle {
  margin: 20px 0px;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 50px;
}

.item {
  border: 5px solid #bbb;
  border-radius: 5px;
  width: 300px;
  height: 400px;
  position: relative;
  background-size: cover !important;
}

.item:nth-child(1) {
  background: url("/images/banner-medical.jpg");
}
.item:nth-child(2) {
  background: url("/images/banner-dental.jpg");
}
.item:nth-child(3) {
  background: url("/images/banner-sdpc.jpg");
}

.item:hover .title {
  color: #53c28b;
}
