.mainContainer {
  flex: 1;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.vLine{
  position: absolute;
  background-color: rgba(220, 220, 220, 0.500);
  width: 5px;
  height: 100%;
  top: 0;
  left: 150px;
}

.row{
  display: flex;
  position: relative;
}

.mark{ 
  flex: 0 0 200px;
  padding: 20px 0px;
  height: fit-content;
  position: relative;
}

.datetime{
  font-size: small;
}

.hLine{
  top: 30%;
  left: 145px;
  position: absolute;
  background-color: gainsboro;
  height: 15px;
  width: 15px;
  border: 1px solid gainsboro;
  border-radius: 50%;
}

.content{
  width: 100%;
  flex: 1;
  border: 1px solid gainsboro;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}

.formRow{
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.formTitle {
  font-weight: bold;
  font-size: 1.5rem;
}

.inputContainer{
  display: flex;
  gap: 10px;
}

.inputContainerMax{
  display: flex;
  gap: 10px;
  flex: 1;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
  font-size: 0.8rem;
}

.input {
  width: 100%;
  height: fit-content;
  padding: 3px 10px;
}

.smallInput {
  width: 100px;
}

.fullInput {
  flex: 1;
}

.textareaContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textarea {
  padding: 10px;
}




.responseHeader {
  padding: 20px;
  display: flex;
  gap:20px;
  border-bottom: 1px solid rgba(220, 220, 220, 0.500);
}

.responseImage{
  width: 50px;
  height: 50px;
}

.responseData{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.responseName {
  font-weight: bold;
}

.responsenEmail {
  font-weight: lighter;
}

.responseresponse{
  font-size: 0.9em;
   padding: 20px;
   text-wrap: wrap;
}

.readinput{
  background-color: gainsboro;
  font-weight: bold;
  width: 100%;
  padding: 3px 10px;
}

.responseFormContainer{
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}
.submitBtn{
  padding: 5px 10px;
  background-color: #53c28b;
  color: white;

}

.statusUpdate{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btnSU{
  padding: 5px 10px;
  cursor: pointer;
}

.btnSU:active{
  border: 1px solid rgba(220, 220, 220, 0.500);
}

.maCompleted{
  background-color: #535ac2;
  color: white;
}

.maCanceled{
  background-color: #c25353;
  color: white;
}