.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.icons{
  transform: scale(2);
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logout {
  padding: 5px;
  border: none;
  background-color: #53c28b;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

.mobileLayout {
  display: none;
  gap: 40px;
  justify-content: space-around;
}

.webLayout {
  display: flex;
  gap: 20px;
}

@media (max-width: 640px) {
  .logo {
    display: none;
  }
  .links {
    justify-content: space-around;
    gap: 0px;
    width: 100%;
  }
  .mobileLayout {
    display: flex;
  }
  .webLayout {
    display: none;
  }
}