.container {
  position: absolute;
  background-color: rgb(63, 63, 63);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  top: 0;
  padding: 20px 20px;
  transition: 1s;
  width: 15%;
  z-index: 2;
  overflow: hidden;
}

.containerHide{
  width: 10%;
}

.logo {
  font-weight: bold;
  font-size: 22px;
  width: 100%;
  margin-bottom: 100px;
}

.links {
  display: flex;
  text-align: left;
  width: 100%;
  gap: 50px;
  flex-direction: column;
}

.logout {
  padding: 5px;
  border: none;
  background-color: #53c28b;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}
