.MainContent{
    padding-bottom: 20px;
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 50px 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "Header"
        "Body";
    gap: 20px;
    position: relative;
}

.Header {
    grid-area: Header;
    border: 1px solid gainsboro;    
    display: flex;
    align-items: center;
    padding: 20px;
    font-weight: bold;
    justify-content: space-between;
}

.Body{
    display: flex;
    flex-direction: column;
    gap:20px;
    border: 1px solid gainsboro;    
    padding: 20px;
    grid-area: Body;
    overflow-y: scroll;
    height: 63vh;
}

.PanelButton{
    border: 0px;
    padding: 5px 20px;
    cursor: pointer;
    transition: 500ms;
}

.PanelButton:hover{
   box-shadow: 0 0 2px 2px gainsboro;
}

.PanelButton:active{
    box-shadow: 0 0 2px 2px black;
}

.ListItem{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    border: 1px solid gainsboro;
    padding: 20px;
    align-items: center;
    cursor: pointer;
    transition: 500ms;
    border-radius: 10px;
}

.ListItem:hover {
    box-shadow: 0 0 2px 2px gainsboro;
}

.ListItem:active {
    box-shadow: 0 0 2px 2px black;
}

.ListItemImage {
    border-radius: 50%;
    border: 1px solid gainsboro;
}

.ListItemName{
    
}

.ListItemMark{
    font-size: 0.8rem;
    color: #14AE5C;
}

.filterBtn{
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: 0px;
    transition: 250ms;
}
.FilterBtns{
    display: flex;
    gap: 10px;
}
.filterBtn.Active{
    color: white;
    background-color: #14AE5C;
}