.MainContainer{
    border: 1px solid gainsboro;    
    padding: 20px;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
        "Header Header"
        "Nav Body";
    gap: 20px;
}
.Header{
    grid-area: Header;
    border: 1px solid gainsboro;    
    display: flex;
    padding: 20px;
    font-weight: bold;
    align-items: center;
}

.Nav {
    padding: 20px;
    grid-area: Nav;
    border: 1px solid gainsboro;    
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.NavButton{
    padding: 5px 10px;
    background-color: gainsboro;
    text-align: center;
}

.NavButton:hover{
    box-shadow: 0 0 2px 2px gainsboro;
}

.NavButton:active{
    background-color: var(--ButtonActiveBg);
    color: white;
}

.Body{
    display: flex;
    flex-direction: column;
    gap:10px;
    border: 1px solid gainsboro;    
    padding: 20px;
    grid-area: Body;
    position: relative;
}
